
// Body
$body-bg: #fafafa;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #0b5f90;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary-color:#0b5f90;

//Links
$link-color: #0b5f90;
$border-radius:2px;
$border-radius-lg:2px;
$border-radius-sm:2px;

$bg-start: #9d9181;
$bg-end: #9e866c;
$profile-card-bg: #ffffff;